<head>
    <title>Travelz HTML5 Multipurpose Travel Template</title>
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Travel, HTML5, CSS3, Hotel , Multipurpose, Template, Create a Travel website fast">
    <meta name="description" content="HTML5 Multipurpose Template, Create a website fast">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Poppins:300i,400,300,700,400i,500|Ubuntu:300i,400,300,700,400i,500|Raleway:400,500,600,700" rel="stylesheet">
    <!-- CSS Files -->
    <!-- Owl Carousel Assets -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/travlez-jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/css/sb-admin.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script type="text/javascript" src="~/Content/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    @*@if (User.Identity.IsAuthenticated)
    {*@
        <header class="background-white box-shadow">
            <div class="background-main-color padding-tb-5px">
                <div class="container">
                    <div class="row">
                        <div class="col-sm d-none d-sm-block text-white">Modern Creative Website ....</div>
                        <div class="col-sm">
                            <ul class="list-inline text-center margin-0px text-white">
                                <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                            <!-- // Social -->
                        </div>
                        <div class="col-sm d-none d-sm-block">

                            <ul class="user-area list-inline float-right margin-0px text-white">
                                <li class="list-inline-item  padding-right-10px">@ViewBag.Email</li>
                                <li class="list-inline-item"><a href="~/Account/LogOff"><i class="fa fa-user-plus padding-right-5px"></i>Log Out</a></li>
                            </ul>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-output">
                <div class="container header-in">
                    <div class="row">
                        <div class="col-lg-3">
                            <a id="logo" href="01-home.html" class="d-inline-block margin-tb-10px"><img src="~/Content/images/logo.png" alt=""></a>
                            <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
                        </div>
                        <div class="col-lg-9 position-inherit">
                            <ul id="menu-main" class="nav-menu float-right link-padding-tb-20px dropdown-dark">
                                <li class="active has-dropdown">
                                    <a href="~/Demo/Index">Home</a>

                                </li>



                                <li class="has-dropdown">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">

                                        <li class="has-dropdown">
                                            <a href="#">BackEnd Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/Country/Index">Country</a></li>
                                                <li><a href="~/State/Index">State</a></li>
                                                <li><a href="~/City/Index">City</a></li>
                                                <li><a href="~/Category/Index">Category</a></li>
                                                <li><a href="~/Product/Index">Product</a></li>
                                            </ul>
                                        </li>


                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Hotels</a>
                                    <ul class="sub-menu">
                                        <li><a href="~/Hotel/Index">Hotels List View</a></li>
                                        <li><a href="~/Hotel/HotelDetail">Hotels Details</a></li>
                                        @*<li><a href="~/Content/hotel-booking.html">Hotels Booking</a></li>*@
                                        <li><a href="~/Content/hotel-thank-you.html">Hotels Thanks page</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Flights</a>
                                    <ul class="sub-menu">
                                        <li><a href="~/Flight/Index">Flights List View</a></li>

                                        <li><a href="~/Flight/FlightDetail">Flights Details</a></li>
                                        @*<li><a href="~/Content/flight-booking.html">Flights Booking</a></li>
                                <li><a href="~/Content/flight-thank-you.html">Flights Thanks page</a></li>*@
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Cars</a>
                                    <ul class="sub-menu">
                                        <li><a href="~/Car/Index">Cars List View</a></li>

                                        <li><a href="~/Car/CarDetail">Cars Details</a></li>
                                        @*<li><a href="~/Content/car-booking.html">Cars Booking</a></li>
                                <li><a href="~/Content/car-thank-you.html">Cars Thanks page</a></li>*@
                                    </ul>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </header>
    @*}*@
        <!-- // Header  -->
        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>


        <!-- Footer -->
        <footer id="footer" class="text-center text-lg-left">

            <div id="instgram-feed">
                <ul class="instagram-feed">
                    <li><a href="#"><img src="~/Content/demo-img/instagram-1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-5.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-6.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-7.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-8.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-9.jpg" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/demo-img/instagram-10.jpg" alt=""></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- // Instgram Feed -->

            <div class="container">
                <div class="row padding-tb-35px">
                    <div class="col-lg-4">
                        <p class="text-sm-center text-lg-left"><span class="text-third-color">Travelz</span> |  2017 All copy rights reserved</p>
                    </div>
                    <div class="col-lg-4 sm-mb-20px">
                        <div class="text-center"><img src="~/Content/images/cards.png" alt=""></div>
                    </div>
                    <div class="col-lg-4">
                        <ul class="social_link list-inline text-sm-center text-lg-right">
                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul><!-- // Social -->
                    </div>
                </div>

            </div>

        </footer>
        <!-- ======= end Footer  ======= -->
        <script type="text/javascript" src="~/Content/js/sticky-sidebar.js"></script>
        <script type="text/javascript" src="~/Content/js/custom.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>
        <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
        <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
