@model IEnumerable<RoleBasedAuthanticationInMvc.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- Page title --->
<section class="background-grey-1 padding-tb-25px text-grey-4">
    <div class="container">
        <h6 class="font-weight-300 text-capitalize float-md-left font-2 padding-tb-10px">Car Grid</h6>
        <ol class="breadcrumb z-index-2 position-relative no-background padding-tb-10px padding-lr-0px  margin-0px float-md-right">
            <li><a href="@Url.Action("Index", "Demo")" class="text-grey-4">Home</a></li>
            <li><a href="@Url.Action("Index", "Car")" class="text-grey-4">Car List</a></li>
            <li class="active">Car Grid</li>
        </ol>
        <div class="clearfix"></div>
    </div>
</section>
<!-- // Page title --->
<!-- page output -->
<div class="padding-tb-40px background-light-grey">
    <div class="container">
       
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 sticky-sidebar">
                    <!-- Car Search -->
                    @using (Html.BeginForm())
                    {
                        <div class="widget">
                            <h4 class="widget-title clearfix"><span>Car Search</span></h4>
                            <div class="search-filter">

                                <div class="form-group  margin-bottom-5px">
                                    <label>Location:</label>
                                    <div class="destination">
                                        <input type="text" class="input-text full-width" placeholder="Location">
                                        @*@Html.EditorFor(model => model.CatName, new { htmlAttributes = new { @class = "input-text full-width" } })*@
                                    </div>
                                </div>
                                <div class="form-group  margin-bottom-5px">
                                    <label>Type of car :</label>
                                    <div class="destination"><input type="text" class="input-text full-width" placeholder="Type of car"></div>
                                </div>
                                <div class="form-group  margin-bottom-5px">
                                    <label>Pick up Date:</label>
                                    <div class="date-input"><input type="text" class="input-text datepicker full-width" placeholder="15 / 5 / 2017"></div>
                                </div>
                                <div class="form-group margin-bottom-25px">
                                    <label>Drop off Date:</label>
                                    <div class="date-input"><input type="text" class="input-text datepicker full-width" placeholder="15 / 5 / 2017"></div>
                                </div>
                                <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Cars  Search</a>

                            </div>
                        </div>
                    }
                        <!-- //  Car Search -->
                        <!-- Price Search -->
                        <div class="widget">
                            <h4 class="widget-title clearfix"><span>Price</span></h4>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    $0 - $50
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    $50 - $100
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    $100 - $500
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    $500 - $1000
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                                    $1000 - $10,000
                                </label>
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Refresh  Search</a>
                        </div>
                        <!-- Price Search -->
                        <!-- Price Search -->
                        <div class="widget">
                            <h4 class="widget-title clearfix"><span>Facility</span></h4>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">Accessibiliy
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Breakfast
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Fitness center
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Free Wifi
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Parking
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Pet allowed
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Plasma TV
                                </label>
                            </div>
                            <div class="form-check border-bottom-1 border-grey-1">
                                <label class="form-check-label">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Pool
                                </label>
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Refresh  Search</a>
                        </div>
                    </div>
                <!-- //  Sidebar -->
                <!-- Content -->
                <div class="col-lg-9">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <!-- hotel post -->
                            <div class="col-sm-6 col-lg-4 margin-bottom-30px">
                                <div class="hotel-grid background-white border border-grey-1 with-hover">
                                    <div class="hotel-img position-relative">
                                        <div class="hover-option background-main-color opacity-6"></div>
                                        <img src="@Url.Content(item.Image)" alt="">
                                    </div>
                                    <div class="padding-20px">
                                        <h3 class="text-uppercase text-medium"><a href="@Url.Action("CarDetail", "Car", new { ProId = @item.ProId })" class="text-dark font-weight-700">@item.Name </a></h3>
                                        <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4">
                                                <i class="fa fa-map-marker margin-right-5px"></i>
                                                <span class="text-third-color margin-right-5px">@item.Country.CountryName</span> @item.State.StateName
                                            </a>
                                        </small>
                                        <i class="d-block padding-tb-8px text-grey-2 ">@item.Description</i>
                                        <div class="margin-bottom-8px text-uppercase text-extra-small">
                                            <strong class="text-medium text-third-color padding-right-5px font-weight-bold">$@item.Charges</strong>Day
                                        </div>
                                        <a href="@Url.Action("Booking", "Car", new { ProId = @item.ProId })" class="btn-sm btn-lg btn-block background-grey-2 text-white text-center font-weight-bold text-uppercase ">Booking Now </a>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- //  hotel post -->
                        <!-- hotel post -->
                        <div class="col-sm-6 col-lg-4 margin-bottom-30px">
                            <div class="hotel-grid background-white border border-grey-1 with-hover">
                                <div class="hotel-img position-relative">
                                    <div class="hover-option background-main-color opacity-6"></div>
                                    <img src="~/Content/demo-img/car-grid-2.jpg" alt="">
                                </div>
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium"><a href="#" class="text-dark font-weight-700">Mercedes,Benz G </a></h3>
                                    <small class="text-uppercase text-extra-small">
                                        <a href="#" class="text-grey-4">
                                            <i class="fa fa-map-marker margin-right-5px"></i>
                                            <span class="text-third-color margin-right-5px">United Kingdom</span> London
                                        </a>
                                    </small>
                                    <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                                    <div class="margin-bottom-8px text-uppercase text-extra-small">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Day
                                    </div>
                                    <a href="#" class="btn-sm btn-lg btn-block background-grey-2 text-white text-center font-weight-bold text-uppercase ">Booking Now </a>
                                </div>
                            </div>
                        </div>
                        <!-- //  hotel post -->






                        <div class="clearfix"></div>

                    </div>
                    <ul class="pagination pagination-md ">
                        <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                    </ul>
                </div>

                <!-- // Content -->
            </div>

            <!-- //  row -->
        </div>
    <!-- //  container -->
</div>
<!-- //  page output -->
