@model RoleBasedAuthanticationInMvc.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src="@Url.Content(Model.Image)" class="img-responsive" alt="Image" />
        </dd>
        if(@Model.CatId==1)
        {
        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.NoOfPeople)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoOfRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfRoom)
        </dd>
        }
        else
        {

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Descr)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charges)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
